#cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.card{
    background-color: rgba(119, 119, 119, 0.1);
    width: clamp(55rem, 25vw, 24rem);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
}

.card h2{
    padding: 0.5rem;
    border-bottom: 2px solid white;
    width: 80%;
    margin: 0 auto 1rem auto;
}

.city{
    margin-top: 1rem;
}

.city p{
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.cities img{
    width: 90%;
    height: 50vh;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.cities img:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.6);
}

.price{
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: black;
    display: inline-block;
}

/* Tablet */
@media (max-width: 900px){
    .card{
        width: 45%;
    }

    .cities img{
        height: auto;
    }
}

/* Celular */
@media (max-width: 600px){
    .card{
        width: 100%;
    }
}
